body{
 background:linear-gradient(109.6deg, rgba(119, 44, 232, 0.68) 11.5%, rgb(119, 44, 232) 91.2%);
}

.nav{
  font-family: Inter;
}

.logo{
  display: inline-flex;
  font-size:1.7rem;
  letter-spacing: 0.1rem;
  color:whitesmoke;
  padding-left:3rem;
  font-weight: bold;
}

.nav-right{
  display: inline-flex;
  float:right;
  column-gap: 3rem;
  padding-top: 1.5rem;
  padding-right: 4rem;
}

.home-btn{
  border:none;
  background:none;
  color:white;
  font-size:1.3rem;
  transition:0.2s;
  letter-spacing: 0.1rem;
}

.home-btn:hover{
  cursor:pointer;
  text-decoration: underline;
  color:rgb(237, 223, 223)
}

.home-btn:active{
  color:rgb(208, 201, 201);
}

.nav-btn1{
  letter-spacing: 0.1rem;
  font-size:1.2rem;
  border:none;
  padding-right:1rem;
  padding-left:1rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: white;
  color:rgba(119, 44, 232, 0.68);
  font-weight: bold;
  border-radius:5rem;
  border-width:0.1px;
  transition: 0.2s;
}

.nav-btn1:hover{
  cursor:pointer;
  opacity:0.8;
}

.nav-btn1:active{
  opacity:0.5;
}

.nav-btn2{
  letter-spacing: 0.1rem;
  font-size:1.2rem;
  border:none;
  padding-right:1rem;
  padding-left:1.2rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: rgb(235, 122, 141);
  color:white;
  font-weight: bold;
  border-radius:5rem;
  border-width:0.1px;
  transition: 0.2s;
}

.nav-btn2:hover{
  cursor:pointer;
  opacity:0.8;
}

.nav-btn2:active{
  opacity:0.5;
}


.img{
  display: inline-flex;
  float: right;
  text-align: right;
  padding-right:5rem;
}

.img-1{
  padding-top:5rem;
  padding-right:5rem;
  width:40rem;
}

.txt{
  letter-spacing: 0.3rem;
  color:white;
  display: inline-flex;
  font-family:Inter;
  font-size:2rem;
  padding-top:15rem;
  padding-left:5rem;
}



